@import "slick-carousel/slick/slick.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  margin: 0;
}

.button {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #191919;
  text-align: center;
  text-decoration: none;
  color: #d0d0d0;
  font-size: 12px;
  padding: 10px 20px;
  transition: background 0.4s ease;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  line-height: normal;
}

.button:hover {
  background: #272727;
  color: #fff;
}

#mount-welcome {
  color: #fff;
  background: #000;
  height: 100vh;
  width: 100vw;
}

#mount-about {
  background: #ECECEC;
}

#window-title {
  height: 37px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
}

#window-title h1 {
  margin: 0;
  color: #9B9B9B;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 400
}

#intro h1 {
  font-size: 15px;
  font-weight: 400;
  margin: 25px 0 0 0;
  cursor: default;
}

#anchor {
  height: inherit;
  width: inherit;
}

#login input {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 12px;
  color: #666;
  height: 32px;
  line-height: 32px;
  text-align: left;
  transition: border, background, color .1s ease-in;
  max-width: 380px;
  z-index: 300;
  position: relative;
}

#login input,
#login .auto-complete span {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, serif;
}

#login input:focus {
  color: #fff;
}

#login p {
  text-align: center;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  white-space: pre;
}

#login a {
  margin-top: 30px;
}

#login .auto-complete {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #626262;
  min-width: 250px;
  text-align: center;
  margin-top: 40px;
  transition: all 0.4s ease;
  cursor: text;
}

#login .auto-complete.focus {
  border-bottom-color: #fff;
}

#login .auto-complete.verifying {
  display: none;
}

#login .auto-complete.error {
  border-bottom-color: #ff286a;
  animation: shake 1s both;
}

#login .auto-complete.error input {
  color: #ff286a;
}

#login .auto-complete div {
  position: relative;
  display: inline-block;
}

#login .auto-complete span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: #999;
  line-height: 35px;
  font-size: 12px;
  text-align: left;
  text-indent: 1px;
}

#login .auto-complete span.hidden {
  opacity: 0;
}

#login .auto-complete i {
  font-style: normal;
  visibility: hidden;
}

.slick-initialized .slick-slide {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slick-arrow {
  height: 100vh !important;
  z-index: 4000;
  top: 0;
  position: fixed;
  width: 50px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #000, transparent);
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease;
}

.slick-arrow:not(.slick-disabled) {
  opacity: .5 !important;
}

.slick-arrow:not(.slick-disabled):hover {
  opacity: 1 !important;
}

.slick-arrow.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-dots {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 100;
}

.slick-dots li {
  display: block;
  -webkit-app-region: no-drag;
  margin: 0 4px;
}

.slick-dots li button {
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border: 0;
  text-indent: -999px;
  border-radius: 100%;
  padding: 0;
  opacity: .5;
  cursor: pointer;
  transition: opacity .4s;
}

.slick-dots li button:focus {
  outline: 0;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
  opacity: 1;
}

.slick-arrow {
  display: block;
  height: 40px;
  width: 20px;
}

#about {
  text-align: center;
  padding-top: 40px;
  color: #434343;
}

#about img {
  width: 100px;
}

#about h1,
#about h2 {
  margin: 0;
}

#about h1 {
  font-size: 15px;
  font-weight: 700;
  margin: 5px 0 15px 0;
}

#about h2 {
  font-size: 13px;
  font-weight: 400;
  cursor: default;
}

#about h2 span {
  color: #5319e7;
  cursor: pointer;
}

#about .update {
  font-size: 11px;
  margin-top: 5px;
}

#about .update.latest {
  color: #00A819;
}

#about .update.latest svg {
  margin-bottom: -3px;
  margin-right: 5px;
}

#about .window-title {
  font-size: 12px;
  color: #434343;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 37px;
  line-height: 37px;
}

#about article {
  background: #fff;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  height: 135px;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
  margin-top: 20px;
}

#about article h1,
#about article p {
  color: #707070;
  font-size: 11px;
}

#about article h1 {
  text-transform: uppercase;
  margin-top: 15px;
}

#about article h1:first-child {
  margin-top: 0;
}

#about article p {
  line-height: 19px;
}

#about article a {
  color: #707070;
  text-decoration: none;
}

#about .copyright {
  font-size: 11px;
  margin-top: 11px;
  display: block;
}

#about .copyright b:before {
  content: '\25B2'
}

#about nav a {
  font-size: 11px;
  color: #434343;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}

#about nav a:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  background: #434343;
  top: 2px;
}

#about nav a:hover {
  color: #000;
}

#about nav a:last-child:after {
  display: none;
}

#about article details {
  margin-bottom: 10px;
}

#about article details summary {
  color: #707070;
  font-size: 12px;
  cursor: pointer;
  transition: color .2s ease;
  display: inline-block;
}

#about article details summary:focus {
  outline: none;
}

#about article details[open] summary {
  color: #000;
}

#about article details summary:hover {
  color: #000;
}

#cli article {
  width: 415px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}

#cli article .install {
  margin-top: 20px;
  display: inline-block;
}

#cli article code {
  font-weight: 700;
  background: #212121;
  padding: 1px 7px;
  border-radius: 3px;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
