@import "slick-carousel/slick/slick.css";

#window-title {
  height: 37px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
}

#window-title h1 {
  margin: 0;
  color: #9B9B9B;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 400
}

#intro h1 {
  font-size: 15px;
  font-weight: 400;
  margin: 25px 0 0 0;
  cursor: default;
}

#anchor {
  height: inherit;
  width: inherit;
}

#login input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #626262;
  font-size: 12px;
  color: #666;
  min-width: 250px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, serif;
  transition: all .1s ease-in;
  max-width: 380px;
  margin-top: 40px;
}

#login input:focus {
  color: #fff;
  border-bottom-color: #fff;
}

#login input.error {
  color: #ff286a;
  border-bottom-color: #ff286a;
  animation: shake 1s both;
}

#login input.verifying {
  display: none;
}

#login p {
  text-align: center;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  white-space: pre;
}

#login a {
  background: #191919;
  text-align: center;
  text-decoration: none;
  color: #d0d0d0;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 30px;
  transition: all 0.4s ease;
  cursor: pointer;
}

#login a:hover {
  background: #383838;
  color: #fff;
}

.slick-initialized .slick-slide {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slick-arrow {
  height: 100vh !important;
  z-index: 4000;
  top: 0;
  position: fixed;
  width: 50px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #000, transparent);
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease;
}

.slick-arrow:not(.slick-disabled) {
  opacity: .5 !important;
}

.slick-arrow:not(.slick-disabled):hover {
  opacity: 1 !important;
}

.slick-arrow.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-dots {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 100;
}

.slick-dots li {
  display: block;
  -webkit-app-region: no-drag;
  margin: 0 4px;
}

.slick-dots li button {
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border: 0;
  text-indent: -999px;
  border-radius: 100%;
  padding: 0;
  opacity: .5;
  cursor: pointer;
  transition: opacity .4s;
}

.slick-dots li button:focus {
  outline: 0;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
  opacity: 1;
}

.slick-arrow {
  display: block;
  height: 40px;
  width: 20px;
}

#about {
  text-align: center;
}

#about img {
  width: 62px;
}

#about h1,
#about h2 {
  margin: 10px 0;
}

#about h1 {
  font-size: 15px;
  font-weight: 700;
}

#about h2 {
  font-size: 10px;
  font-weight: 400;
}

#about h2 span {
  color: #5319e7;
  cursor: pointer;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
